.right{
    padding: 3rem 2rem;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
 }
.right h1{
    font-size: 6rem;
    letter-spacing: .1rem;
    font-weight: 600;
    padding-top: 4rem;
    padding-bottom: 2rem;

}
.code{
    width: 95%;
    height: auto;
    background: rgb(10, 124, 10);
    padding:2rem 2rem 2rem 3rem;
    border-radius: 1rem;
    font-size: 1.8rem;
    line-height: 2rem;
    padding-left: 6rem;
    color: rgb(255, 255, 255);
    font-weight: 500;
}
.right h2{
    font-size: 5rem;
    letter-spacing: .2rem;
    font-weight: 600;
    padding-top:10rem;
    color: rgb(10,124, 10);
}
.right h3{
    font-size: 3rem;
    letter-spacing: .1rem;
    font-weight: 600;
    padding-top: 3rem;
    padding-bottom: 1rem;

}
.right p{
    width: 95%;
    font-weight: 900;
    padding:1rem 1rem;
    font-weight: 400;
}
.right .span-color{
    color: rgb(9, 19, 158);
    font-weight: bold;
}
.tag-color{
    color: rgb(16, 84, 129);
    font-weight: bold;

}
.comments{
    color: rgb(90, 139, 141);
    font-weight: 300;
}
.right ul{
    width: 85%;
    display: block;
    padding-left: 10rem;
}
.right ul.esc-ul{
    padding-left: 4rem;
}

.right ul li{
    line-height: 2.5rem;
    font-size: 1.8rem;
    font-weight:lighter;
    cursor: pointer;
    font-weight: 600;
    text-align: justify;
    padding: .5rem;
}

.right img{
     max-width: 100%;
     margin-top: 2rem;
     margin-bottom: 2rem;
}
.btns{
    width: 85%;
    display: flex;
    justify-content: space-between;
    

}
.right span{
    font-weight: 600;
}
.box-modal{
    border: .1rem solid green;
    border-left:1rem solid green;
    width: 85%;
    padding: 2rem;
}
.btns{
    width: 85%;
    display: flex;
    justify-content: space-between;
    padding: 4rem 1rem 1rem 1rem;
    }
.btns .btn{
    padding: 2rem 3rem;
    background: rgb(15, 104, 15);
    border-radius: .5rem;
    font-size: 2rem;
    letter-spacing: .1rem;
    font-weight: 400;
    cursor: pointer;
}
.btns .btn:hover{
    background: rgb(59, 146, 32);
}
.footer{
    width:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
   

}
.footer img{
   margin: 0 auto;
    max-width: 100%;
    width: 20rem;
}
.footer h3{
    text-align: center;
}
.footer p{
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
}
.footer .logo{
    width: 100%;
    text-align: center;
}
.footer .logo a:hover{
    color: red;
}
.footer a{
    color: black;
    padding: 1rem;
}
.footer a:hover{
    color: blue;
}

@media only screen and (max-width: 900px) {
    .right h1{
         font-size: 4.6rem;
     }
    .right h2{
         font-size: 3.6rem;
     }
    .right h3{
         font-size: 2.8rem;
     }
    .right ul{
        width: 98%;
    }
    .right p{
        width: 98%;
        
    }
    .code{
        width: 98%;
        font-size:1.5rem ;

    }
    .btns{
        width: 98%;
    }
    .right ul{
        
        padding-left: 2rem;
    }
}
@media only screen and(max-width:600px){
    .right h1{
        font-size: 3.2rem;
    }
    .right h2{
        font-size: 2.5rem;
    }
   .right h3{
        font-size: 2rem;
    }
}
