
/* **********************************html section************************************ */

.html-section{
   color: white;
   display: flex; 
   padding-top: 20rem; 
   padding-bottom: 10rem; 
   
}
.html-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.html-left{
    width: 50%;
}
.html-left h1{
    font-size: 8rem;
    padding-bottom: 4rem;

}
.html-left p{
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: 3rem;

}
.html-btn ,.html-btn a {
    font-size: 2rem;
    font-weight: 500;
    border-radius: 3rem;
    margin-bottom:2rem ;
    font-weight: 700;
    cursor: pointer;
    color: white;
}
.html-learn{
    background: rgba(20, 150, 70, 0.781);
    padding: 1rem 8rem;
    
}
.html-refernce{
    color: black;
    background: white;
    padding: 1rem 4rem;
}
.html-learn:hover{
    background: rgba(15, 116, 54, 0.781);    
}
.html-refernce:hover{
    background: rgb(209, 208, 208);
}
.html-right{
    width: 50%;
  }
  .card{
      width: 90%;
      height: auto;
      background: rgb(212, 212, 212);
      border-radius: .5rem;
      box-shadow: .1rem .1rem 1rem rgb(105, 104, 104);
      color: black;
      font-size: 2rem;
  }
  .card-body{
      background: white;
      margin:0 1.5rem;
      border-left: .4rem solid green;
  }
  .card h1{
      font-size: 2.5rem;
      padding: 2rem 2rem;
      padding-top: 3rem;
      font-weight: 600;
  }
  .card-body pre{
      font-size: 1.5rem;
      font-weight: 600;
    line-height: 2rem;
  }
  .try-btn{
    background: rgba(20, 150, 70, 0.781);
    font-size: 2rem;
    font-weight: 500;
    padding: 1rem 3rem;
    border-radius: 3rem;
    margin-bottom:2rem ;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    border: none;
    color: white;
    margin: 2rem;
 
  }  
  .try-btn:hover{
    background: rgba(7, 97, 41, 0.781);
  }



  /* ************************************css section**************************** */


  .css-section{
      background: rgb(185, 227, 230);
      display: flex;
      padding-top: 10rem; 
   padding-bottom: 10rem; 

  }
  .css-refernce{
     background: rgb(41, 40, 40);
     padding: 1rem 6rem;
  }
  .css-refernce:hover{
     background: rgb(15, 15, 15);
  }

  /* *****************************javascript-section*****************/ 
  .javascript-section{
    background: rgb(238, 231, 133);
    display: flex;
    padding-top: 10rem; 
   padding-bottom: 10rem; 

  }
 
  /* ***********************media quires************** */
  

  @media only screen and (max-width: 900px) {
    .html-left{
        width: 100%;
    }
    .html-right{
        width: 100%;
      }
      .html-section{
       flex-direction: column;
      }
      .css-section{
       flex-direction: column;
      }
      .javascript-section{
       flex-direction: column;
      }
        
  }
  @media only screen and (max-width: 692px) {
   
    .html-right{
        display:none;
      }
    
}
     
